
/.idea/
.vscode/*

/venv/

.DS_Store
*.pyc
__pycache__
/build/
/dist/
/vlabs.egg-info/

vlmgr.json
vlab.json

*.log
syslog??
supervisor??.tar.gz

*.http
template*.*
vlmgr.json
vlmgr.json.bak 
vlab.json
/tmp/
/old/
